body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  padding: 30px 20px;
  margin-top: 80px;   /* cria espaço para não ficar escondido atrás do header */
}

/* Cabeçalho */
.header {
  width: 100%;                 /* ocupa toda a largura */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;          /* fundo escuro */
  padding: 35px 30px;
  position: fixed;              /* sempre colado no topo */
  top: 0;
  left: 0;
  z-index: 100;
  height: 60px;
  box-sizing: border-box;       /* evita problemas com padding */
  border-bottom: 1px solid #cdcdcd;
}

/* Logo */
.logo img {
  height: 30px;   /* define a altura da logo */
  width: auto;    /* mantém a proporção */
}

.welcome-user{
  font-weight: 600;
  font-size: 12px;
}

/* Avatar Usuario*/
.avatar.user {
  width: 34px;
  height: 32px;
  border-radius: 50%;
  /* border: 2px solid #007bff; */
  cursor: pointer;
  padding-top: 5px;
}

/* Menu dropdown */
.user-menu {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  list-style: none;
  padding: 8px 0;
  margin: 0;
  width: 180px;
}

.dropdown li {
  padding: 8px 15px;
}

.dropdown li a {
  text-decoration: none;
  color: #333;
  display: block;
}

.dropdown li a:hover {
  background: #f5f5f5;
}

.dropdown hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #ddd;
}


/* Card disciplina */

.arrow {
  font-size: 20px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(90deg); /* gira a seta pra baixo */
}

.card {
  border: 2px solid #007bff;
  border-radius: 12px;
  margin-bottom: 20px;
  background: #fff;
  overflow: hidden;
}

.card-header {
  user-select: none;
  padding: 20px 20px;
  font-weight: bold;
  color: #3C3C3C;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  display: none;
  padding: 5px 20px 15px 20px; /* top, right, bottom, left */
}

.card-content.active {
  display: block;
}

/* Lista simulados */
.simulado {
  user-select: none;
  padding: 12px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

/* Lista opções simulados */
.simulado-options {
  display: none;
  padding: 10px;
  background: #f9f9f9;
  border-left: 3px solid #007bff;
}

.simulado-options.active {
  display: block;
}

.simulado-options button {
  margin-right: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #007bff;
  color: #fff;
}

.simulado-options button:hover {
  background: #0056b3;
}

.titulo-simulado {
  font-weight: 500;
}

/* container de todos os alunos */
.lista-alunos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 12px;
}

/* card individual */
.card-aluno {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px 14px;
  gap: 10px;
}

/* bloco central */
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nome {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.id {
  font-size: 12px;
  color: #777;
}

.avatar.aluno{
  width: 26px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* pontuação (badge lateral) */
.pontuacao {
  background: #222;
  color: #fff;
  border-radius: 8px;
  padding: 6px 6px;
  text-align: center;
  min-width: 60px;
  font-size: 12px;
}

.pontuacao span {
  display: block;
  font-size: 10px;
  opacity: 0.8;
}

.pontuacao strong {
  display: block;
  font-size: 13px;
  font-weight: 700;
}

/* Botão */
.btn {
  background: #007bff;
  color: #fff;
  text-align: center;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  margin-top: 25px;
  transition: all 0.2s ease; /* suaviza hover */
}

.btn:hover {
  background: #0056b3;
}

/* Grids */
.grid{
  padding: 10px;
  border-radius: 15px;
  border: 0.5px solid rgba(115, 115, 115, 0.35);
}

.grid.alunos{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

/* Ícones usuários */
.user-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 5px;
}

.adicionar.aluno{
  border:2px solid #007bff; background:#007bff; color:#fff;
  width:25px; height:25px; border-radius:50%;
  font-size:12px; line-height:1; display:flex; align-items:center; justify-content:center;
  cursor:pointer
}

.adicionar.aluno:hover{
  border:2px solid #0056b3; background:#0056b3;
}

/* Ícones setas */
.material-icons,
.material-symbols-outlined{
  user-select: none;   /* impede seleção de texto */
  pointer-events: none; /* opcional: bloqueia clique no ícone */
}

.material-icons.bolder{
  font-size: 24px;
  -webkit-text-stroke: 1px black; /* contorno deixa ele mais "grosso" */
}

.fab{
  position:fixed; right:20px; bottom:20px;
  width:56px; height:56px; border-radius:50%;
  border:2px solid #1e66ff; background:#1e66ff; color:#fff;
  font-size:24px; line-height:1; display:flex; align-items:center; justify-content:center;
  box-shadow:0 6px 16px rgba(0,0,0,.15); cursor:pointer;
}
.fab:active{ transform:translateY(2px); }
@media (min-width:1024px){ .fab{ right:32px; bottom:32px; } }
